---
title: Shop
layout: layout.njk
---

<h1>Shop</h1>
<div class="products">
  {% for product in products %}
    <div class="product-card">
      <img src="{{ product.image }}" alt="{{ product.name }}">
      <div class="product-title-price">
        <h2>{{ product.name }}</h2>
        <p>${{ product.price }}</p>
      </div>
     <div id="{{ product.shopify_node }}"></div>
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy && window.ShopifyBuy.UI) {
    ShopifyBuyInit();
  } else {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    script.onload = ShopifyBuyInit;
    document.head.appendChild(script);
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 's9b2ug-1i.myshopify.com',
      storefrontAccessToken: '22468e05821aeaf803fd43298b5d7556',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      {% for product in products %}
      ui.createComponent('product', {
        id: '{{ product.shopify_id }}',
        node: document.getElementById('{{ product.shopify_node }}'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
          "product": {
            "contents": { "img": false, "title": false, "price": false },
            "text": { "button": "Add to cart" }
          },
          "cart": {
            "text": { "total": "Subtotal", "button": "Checkout" }
          }
        }
      });
      {% endfor %}
    });
  }
})();
</script>